{% extends 'control/base.html' %}

{% block content %}

  <!-- start page content wrapper-->
  <div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">

        <!--start breadcrumb-->
        <div class="page-breadcrumb d-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3 d-none d-sm-block">Toifa Qo'shish </div>
          

        </div>
        <!--end breadcrumb-->
        <hr>
        
            <div class="card">
            <div class="card-body">
                <div class="p-4 border rounded">
                    {% if code == "title" %}
                    <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
                        </div>
                        <div class="ms-3">
                          <div class="text-white">Bunday sarlavhada toifa mavjud !</div>
                        </div>
                      </div>
                      <h3 class="alert_nums text-light align-self-center">7</h3>
                    </div>
                    {% endif %}
                    <form class="row g-3 needs-validation" action="{% url 'control_category_create' %}" method="POST" novalidate>
                        {% csrf_token %}
                      <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">Toifa</label>
                        <input type="text" name="title_uz" class="form-control" id="validationCustom01" required>
                        <div class="invalid-feedback">Iltimos toifa sarlavhasini kiriting</div>
                      </div>
                      <div class="col-md-12">
                        <label for="validationCustomUsername" class="form-label">Priyoritet</label>
                        <div class="input-group has-validation"> <span class="input-group-text" id="inputGroupPrepend">№</span>
                          <input type="number" name="priority" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value.length > 12) {this.value = 0}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                          <div class="invalid-feedback">Iltimos priyoritet kiriting</div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Qo'shish</button>
                      </div>
                    </form>
                </div>
            </div>
            </div>



    </div>
    <!-- end page content-->
   </div>
  <!--end page content wrapper-->



  {% endblock content %}