{% extends 'control/base.html' %}

{% block content %}

  <!-- start page content wrapper-->
  <div class="page-content-wrapper">
    <!-- start page content-->

    <div class="page-content">

        <!--start breadcrumb-->
        <div class="page-breadcrumb d-flex align-items-spase- mb-3">
          <div class="breadcrumb-title pe-3 d-none d-sm-block">Batafsil</div>
          <div class="ms-auto d-block">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleDangerModal">O'chirish</button>
            </div>
          </div>
        </div>
        <!--end breadcrumb-->
        <hr>
        

        <div class="card">
            <div class="card-body">
              <div class="p-4 border rounded">
                {% if base.code == "edit" %}
                <div id="alert" class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                    </div>
                    <div class="ms-3">
                      <div class="text-white">O'zgartirildi</div>
                    </div>
                  </div>
                  <h3 class="alert_nums text-light align-self-center">7</h3>
                </div>
                {% endif %}
                <form class="row g-3 needs-validation" action="{% url 'control_slider_edit' %}" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="slider_id" value="{{ slider.id }}">
                    <div class="col-md-12">
                        <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-between">
                          <div class=" shadow text-center">
                            <img src="{{ slider.img.url }}" alt="..." class="rounded" width="800" height="350px">
                          </div>
                          </div>
                                
                          <label for="validationCustom01" class="form-label">Rasmi </label>
                          <div class="input-group has-validation mb-3">
                            <input type="file" name="file" class="form-control has-validation" accept="image/png, image/jpeg" id="inputGroupFile02">
                          </div>
                      </div>
                      <div class="col-12">
                        <label for="validationCustom01" class="form-label">Sarlavhasi</label>
                        <input type="text" name="title_uz" value="{{ slider.title_uz }}" class="form-control" id="validationCustom01" required>
                        <div class="invalid-feedback">Iltimos sarlavhani kiriting</div>
                     </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">O'zgartirish</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

    <!-- end page content-->
   </div>
  <!--end page content wrapper-->

  <div class="col">
    <!-- Modal -->
    <div class="modal fade" id="exampleDangerModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger"><b>Diqqat !</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-danger">
            <h5 class="py-4">O'chirganingizdan so'ng qayta tiklab bolmaydi! Rozimisz ?</h5>
            <input type="checkbox" id="checker1"> <label for="checker">Roziman</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yopish</button>
            <form action="{% url 'control_slider_remove' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="slider_id" value="{{ slider.id }}">
                <button type="submit" class="btn btn-outline-danger delete" disabled>O'chirish</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    let check = document.querySelector('#checker1')
    check.addEventListener('change' ,  ()=> {
    let remove = document.querySelector('.modal-footer .delete')
    
    if (check.checked) {
    remove.removeAttribute('disabled')
    } else {
    remove.setAttribute('disabled', 'true')
    }
    })
</script>
  {% endblock content %}