{% extends 'control/base.html' %}

{% block content %}

  <!-- start page content wrapper-->
  <div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">

        <!--start breadcrumb-->
        <div class="page-breadcrumb d-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3 d-none d-sm-block">Foydalanuvchi malumotini o'zgartirish</div>
          
<div class="ms-auto d-block">
<div class="btn-group">
  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleDangerModal">O'chirish</button>
</div>
</div>

        </div>
        <!--end breadcrumb-->
        <hr>
        
<div class="card">
  <div class="card-body">
    <div class="p-4 border rounded">
      {% if code == "username" %}
      <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
          </div>
          <div class="ms-3">
            <div class="text-white">Bunaqa foydalanuvchi bazada bor !!!</div>
          </div>
        </div>
        <h3 class="alert_nums text-light align-self-center">7</h3>
      </div>
      {% elif code == "email" %}
      <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div class="fs-3 text-white"><ion-icon name="close-circle-sharp"></ion-icon>
          </div>
          <div class="ms-3">
            <div class="text-white">Bunaqa pochta bazada bor !!!</div>
          </div>
        </div>
        <h3 class="alert_nums text-light align-self-center">7</h3>
      </div>
      {% endif %}

      <form class="row g-3 needs-validation" action="{% url 'control_user_edit' %}" method="POST" novalidate="">
        {% csrf_token %}
          <input type="hidden" name="id" value="{{ user.id }}">
        
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Daraja</label>
            <select name="role" class="form-control" id="">
              {% for i in roles %}
              <option value="{{i.id}}" {% if i.id == user.account.role.id %} selected {% endif %}>{{i.title}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Iltimos kriting!</div>
          </div> 
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Foydalanuvchi nomi</label>
            <input type="text" name="username" value="{{user.username}}" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Iltimos foydalanuvchi nomini kriting!</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Foydalanuvchi Ismi</label>
            <input type="text" name="first_name" value="{{user.first_name}}" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Iltimos ism kriting!</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Familiya</label>
            <input type="text" name="last_name" value="{{user.last_name}}" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Iltimos familiya kriting!</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Pochta</label>
            <input type="email" name="email" value="{{user.email}}" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Iltimos pochta kriting!</div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Telefo'n Raqam</label>
            <input type="number" name="phone" value="{{user.account.phone}}" class="form-control" id="validationCustom01" required>
            <div class="invalid-feedback">Iltimos telefo'n raqam kriting!</div>
          </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">O'zgartirish</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="p-4 border rounded">

      <form class="row g-3 needs-validation" action="{% url 'control_user_password_edit' %}" method="POST" novalidate="">
        {% csrf_token %}
          <input type="hidden" name="id" value="{{ user.id }}">
        
  
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Parolni O'zgartirish</label>
            <input type="password" name="password" class="form-control" id="validationCustom01">
            <div class="invalid-feedback">Iltimos parol kriting!</div>
          </div>


        <div class="col-12">
          <button class="btn btn-primary" type="submit">Parolni O'zgartirish</button>
        </div>
      </form>
    </div>
  </div>
</div>

    <div class="col">
        <!-- Modal -->
        <div class="modal fade" id="exampleDangerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"><b>Diqqat!</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
                <p>Foydalanuvchini o'chirsangiz orqaga qaytara olmaysiz!!!</p>
                <input type="checkbox" id="checker1"> <label for="checker1">OK</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yopish</button>
                <form action="{% url 'control_user_remove' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{user.id}}">
                    <button type="submit" class="btn btn-outline-danger delete" disabled>O'chirish</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>


        </div>
    <!-- end page content-->
   </div>
  <!--end page content wrapper-->

  <script>
    let check = document.querySelector('#checker1')
    check.addEventListener('change' ,  ()=> {
    let remove = document.querySelector('.modal-footer .delete')
    
    if (check.checked) {
    remove.removeAttribute('disabled')
    } else {
    remove.setAttribute('disabled', 'true')
    }
    })
</script>

  {% endblock content %}