{% extends 'control/base.html' %}

{% block content %}

  <!-- start page content wrapper-->
  <div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">

        <div class="row">
            <div class="col-12">
              <div class="card radius-10 w-100 p-4">
                {% if code == "edit" %}
                <div class="alert alert-dismissible fade show py-2 bg-warning d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                    </div>
                    <div class="ms-3">
                      <div class="text-white">Biz haqimzda malumotlar o'zgartirildi</div>
                    </div>
                  </div>
                  <h3 class="alert_nums text-light align-self-center">7</h3>
                </div>
                {% endif %}
                <form action="{% url 'control_about_edit' %}" method="POST" class="needs-validation" novalidate="">
                {% csrf_token %}
                <div class="card-body">
                  <div class="d-flex align-items-center mb-3">
                    <h3 class="mb-0">Biz haqimizda</h3>
                    <div class="dropdown options ms-auto">
                      <button type="submit" class="btn btn-outline-primary">O'zgartirish</button>
                    </div>
                  </div>
                  <div class="row g-3 mt-2 align-items-center d-flex">
                    
                    <div class="col-12">
                        <div class="mb-3">
                          <h5 class="mb-3">Sarlavha</h5>
                          <input type="text" name="title_uz" value="{{ about.title_uz }}" class="form-control has-validation" required="">
                        </div>
                    </div>

                    <div class="col-sm-6 col-12">
                        <div class="mb-3">
                          <h5 class="mb-3">Instagram</h5>
                          <input type="text" name="instagram"  value="{{ about.instagram }}" class="form-control has-validation">
                        </div>
                    </div>

                    <div class="col-sm-6 col-12">
                        <div class="mb-3">
                          <h5 class="mb-3">Facebook</h5>
                          <input type="text" name="facebook" value="{{ about.facebook }}" class="form-control has-validation">
                        </div>
                    </div>

                    <div class="col-sm-6 col-12">
                        <div class="mb-3">
                          <h5 class="mb-3">Youtube</h5>
                          <input type="text" name="youtube" value="{{ about.youtube }}" class="form-control has-validation">
                        </div>
                    </div>

                    <div class="col-sm-6 col-12">
                        <div class="mb-3">
                          <h5 class="mb-3">Tik Tok</h5>
                          <input type="text" name="tiktok" value="{{ about.tiktok }}" class="form-control has-validation">
                        </div>
                    </div>

                    <div class="col-12">
                        <h5 class="mb-3">Tavsif</h5>
                        <textarea id="editor" required class="form-control" style="min-height: calc(1.5em + 6.75rem + 2px) !important;" name="description_uz">{{ about.description_uz }}</textarea>
                    </div>
                    
                    </div>
                 </div>
                </form>
              </div>
             </div>
             

             <div class="col-12">
                <div>
                    <div id="course_lesson" class="card">
                      <div class="card-body">
                        {% if code == "added_address" %}
                        <div class="alert alert-dismissible fade show py-2 bg-success d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Address qo'shildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% elif code == "removed_address" %}
                        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="trash-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Address o'chirildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                          <h4>Address</h4>
                          <div class="ms-auto d-block">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddress">Qo'shish</button>
                            </div>
                          </div>
                        </div>
                    
                        <br>
                        <div class="">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80%;">Manzil</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in address %}
                                    <tr>
                                        <td>{{ i.address }}</td>
                                        <td class="text-center"><a href="{% url 'control_address_remove' i.id %}" class="btn btn-danger btn-sm"> O'chirish </a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
          
                     <form action="{% url 'control_address_add' %}" method="POST">
                    {% csrf_token %}
                      <div class="modal fade" id="addAddress" tabindex="-1" style="display: none;" aria-hidden="true">
                      
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><b>Manzil qo'shish</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="col-md-12">
                              <label for="validationCustom01" class="form-label">Manzil </label>
                              <input type="text" name="address" class="form-control" id="validationCustom01" required="">
                              <div class="invalid-feedback">Iltimis manzilni kiriting</div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm delete">Qo'shish</button>
                          </div>
                        </div>
                      </div>
                    </div>  
                    </form>
                    
                  </div>
             </div>

             <div class="col-sm-6 col-12">
                <div>
                    <div id="course_lesson" class="card">
                      <div class="card-body">
                        {% if code == "added_email" %}
                        <div class="alert alert-dismissible fade show py-2 bg-success d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Pochta qo'shildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% elif code == "removed_email" %}
                        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="trash-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Pochta o'chirildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                          <h4>Pochta</h4>
                          <div class="ms-auto d-block">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEmail">Qo'shish</button>
                            </div>
                          </div>
                        </div>
                    
                        <br>
                        <div class="">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80%;">Pochta</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in email %}
                                    <tr>
                                        <td>{{ i.email }}</td>
                                        <td class="text-center"><a href="{% url 'control_email_remove' i.id %}" class="btn btn-danger btn-sm"> O'chirish </a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
          
                     <form action="{% url 'control_email_add' %}" method="POST">
                    {% csrf_token %}
                      <div class="modal fade" id="addEmail" tabindex="-1" style="display: none;" aria-hidden="true">
                      
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><b>Pochta qo'shish</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="col-md-12">
                              <label for="validationCustom01" class="form-label">Pochta </label>
                              <input type="email" name="email" class="form-control" id="validationCustom01" required="">
                              <div class="invalid-feedback">Iltimis pochtangizni kiriting</div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm delete">Qo'shish</button>
                          </div>
                        </div>
                      </div>
                    </div>  
                    </form>
                    
                  </div>
             </div>

             <div class="col-sm-6 col-12">
                <div>
                    <div id="course_lesson" class="card">
                      <div class="card-body">
                        {% if code == "added_phone" %}
                        <div class="alert alert-dismissible fade show py-2 bg-success d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Nomer qo'shildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% elif code == "removed_phone" %}
                        <div class="alert alert-dismissible fade show py-2 bg-danger d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="fs-3 text-white"><ion-icon name="trash-sharp"></ion-icon>
                            </div>
                            <div class="ms-3">
                              <div class="text-white">Nomer o'chirildi</div>
                            </div>
                          </div>
                          <h3 class="alert_nums text-light align-self-center">7</h3>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                          <h4>Nomer</h4>
                          <div class="ms-auto d-block">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addPhone">Nomer</button>
                            </div>
                          </div>
                        </div>
                    
                        <br>
                        <div class="">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 80%;">Nomer</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in phone %}
                                    <tr>
                                        <td>{{ i.phone }}</td>
                                        <td class="text-center"><a href="{% url 'control_phone_remove' i.id %}" class="btn btn-danger btn-sm"> O'chirish </a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
          
                     <form action="{% url 'control_phone_add' %}" method="POST">
                    {% csrf_token %}
                      <div class="modal fade" id="addPhone" tabindex="-1" style="display: none;" aria-hidden="true">
                      
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><b>Nomer qo'shish</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="col-md-12">
                              <label for="validationCustom01" class="form-label">Nomer </label>
                              <input type="number" name="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value.length > 12) {this.value = 0}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                              <div class="invalid-feedback">Iltimis nomeringizni kiriting</div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm delete">Qo'shish</button>
                          </div>
                        </div>
                      </div>
                    </div>  
                    </form>
                    
                  </div>
             </div>
             
          </div>



    </div>
    <!-- end page content-->
   </div>
  <!--end page content wrapper-->


  <div class="col">
    <!-- Modal -->
    <div class="modal fade" id="photo_upload" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><b>Выберите изображение</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'control_gallery_add' %}" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="input-group has-validation mb-3">
              <input type="file" name="file" class="form-control has-validation" accept="image/png, image/jpeg"required id="inputGroupFile02">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">Добавить</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}